---
title: awesome
eleventyNavigation:
  key: index
  order: 1
---

{% extends "default.njk" %}

{% block content %}
<div class="flex justify-evenly items-center flex-wrap w-full">
  <header class="flex flex-wrap flex-col w-1/2 gap-5">
    <h1 class="text-9xl">rhyses pieces</h1>
    <p class="text-xl">Hello! This is my art portfolio. Please feel free to browse through <a href="/gallery">the gallery</a> to check out my works.</p>

    <p class="text-xl">You can also find out more <a href="/about">about me and this site</a>.</p>

    <p class="text-xl">Interested in working with me? Head over to the <a href="/contact">contact page</a> and fill out the form.</p>
  </header>

  <h2 class="text-6xl">rkk.</h2>
</div>
{% endblock %}